@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 125px;
}


nav ul li a{
    text-decoration: none;
    color: #ff3d00;
}


nav ul li a:hover{
    color: #ff3d00;
    transition: .5s;
    transform: scale(1.2);
}


.icon{
    background-color: #ff3d00;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    transition: transform .2s;
}

.icon:hover{
    transform: scale(1.2);
    background-color: white;
    color: #ff3d00;
}

.container{
    background: #f5f5f5;
    max-width: 1000px;
    margin: 60px auto;
    height: auto;
    padding: 20px;
    box-shadow: 0 2px 20px 0 rgba(0,0,0,0.3);
    position: relative;
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;
}
.header h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ff3d00;
    text-align: center;
}

span{
    color: #ff3d00;
}

.img-area{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove red;
}
.img-area img{
    width: 100%;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
    line-height: 2;
}
.left dl dt{
    line-height: 2;
}
h2{
    background: red;
    padding: 15px;
    color: white;
    margin: 20px 0;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
}
.right{
    flex: 1;
    padding: 30px;
}
.right h3{
    margin-bottom: 15px;
}
.right p{
    line-height: 2;
}
.right dl dt{
    line-height: 2;
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 95%;
        height: auto;
    }
    h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .left, .right{
        flex: none;
        width: 100%;
    }
    .container{
        width: 95%;
        height: auto;
    }
    h2{
        font-size: 16px;
    }
}

.resume {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.resume form{
    text-align: center;
}

.resume a{
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.resume a:hover {
    background-color: #4CAF50;
}
